@model Person

    <form method="post" asp-action="Response">
        <div>
            <input asp-for="Name" /> 
            <span asp-validation-for="Name"></span>

        </div>
      
        <input asp-for="Surname"/>
        <span asp-validation-for="Surname"></span>

        <br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <br />
        
        <input type="submit" class="btn btn-danger" value="Gönder" /><br />
    </form>
