@model IEnumerable<ProductListDisplay>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3">
            <partial name="_ProductSummary" model="product" />
        </div>

    }

</div>

<nav aria-label="...">
    <ul class="pagination pagination-lg">
        @for (int i = 1; i <= 3; i++)
        {
            <li class="page-item @(i==1 ? "active":string.Empty)"><a class="page-link" href="#">@i</a></li>
        }
      
    </ul>
</nav>
